* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Nunito";
}

body {
  background-color: #cdeafc;
}

.main-container {
  margin: 140px auto;
  display: flex;
  flex-direction: column;
  background: #b2ddfa;
  border: 1px solid #5d9fc6;
  box-shadow: inset 0px 0px 36px rgba(4, 42, 67, 0.02);
  border-radius: 68px;
  max-width: 920px;
  padding: 108px 186px;
}
.text-container {
}

.text-container h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
  color: #39454d;
}

.text-container p {
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  color: #303940;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.input-container label {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #303940;
  margin-bottom: 8px;
}

.input-container input {
  height: 88px;
  background-color: #ffffff;
  border: 2px solid #5d9fc6;
  border-radius: 16px;
}

.input-container :nth-child(4) {
  margin-top: 40px;
}

.input-container p {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #303940;
  margin-top: 8px;
}

.input-container button {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #397a96;
  box-shadow: 0px 8px 2px rgba(20, 42, 52, 0.8);
  border-radius: 20px;
  border: none;
  height: 97px;
  font-family: "Nunito";
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #e6f7ff;
  margin-top: 52px;
}
